// Place all the styles related to the sprints controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body.scrumboard{
  .col-sm-3{
    min-height: 200px;
  }

  .on-drag{
    background-color: #efefef;
    border: #ccc dashed 2px;
  }
}